<footer class="site-footer" id="2">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li style="cursor: pointer;"><a routerLink="Ecommerce/myorders">My Orders</a></li>
          <li style="cursor: pointer;"><a routerLink="Ecommerce/explore-deals">All Products</a></li>
          <li style="cursor: pointer;"><a routerLink="wishlist">Wishlist</a></li>
          <li style="cursor: pointer;"><a routerLink="cart">Cart</a></li>
          <li style="cursor: pointer;"><a routerLink="Ecommerce/explore-deals">Explore Deals</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Get In Touch</h6>
        <ul class="footer-links">
          <li><a href="tel:+18008906122">Tollfree No : 1800 8906 122</a></li>
          <li><a href="tel:+04040137575">Phone : 040 4013 7575</a></li>
          <li><a href="tel:+04023222175">Phone: 040-2322 2175</a></li>
          <li><a href="tel:+9989874992">Whatsapp No : 99898 74992</a></li>
          <li><a href="mailto: info@goldsikka.com">Email : info@goldsikka.com</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Company Details</h6>
        <ul class="footer-links">
          <li style="cursor: pointer;" ><a>CIN No : U51909TG2019PLC130903</a></li>
          <li style="cursor: pointer;"><a>PAN No : AAHCG7082N</a></li>
          <li style="cursor: pointer;"><a>TAN No : HYDG18885G</a></li>
          <li style="cursor: pointer;"><a>GSTIN No : 36AAHCG7082N1ZZ</a></li>
          <li style="cursor: pointer;"><a>IEC No : AAHCG7082N</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3">
        <ul class="footer-links">
          <a href="https://play.google.com/store/apps/details?id=com.goldsikka.goldsikka">
            <img class="pr-image" src="assets/images/pr-a.jpg" alt="">
          </a>
          <a href="https://apps.apple.com/in/app/goldsikka/id1549497564">
            <img class="pr-image" src="assets/images/pr-b.jpg" alt="">
          </a>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a href="https://xyug.in">X-YUG</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/Goldsikka-118144203314327"><i
                class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="https://twitter.com/goldsikkaltd"><i class="fa fa-twitter"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/company/goldsikkalimited/"><i
                class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>


</footer>


<section class="mbl-footer">
  <div class="container-fluid sticky-fo">
    <div class="row  home-footer text-center">
      <ul class="nav nav-pills tabs-ul" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button routerLink="/" class="nav-link active icon-btns" id="pills-home-tab" data-bs-toggle="pill"
            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
            <i class="fas fa-home clr-w foot-icon"></i>
            <p class="clr-w mb-0 ico-p">Home</p>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button (click)="func1()" class="nav-link icon-btns" id="pills-wishcart-tab" data-bs-toggle="pill"
            data-bs-target="#pills-wishcart" type="button" role="tab" aria-controls="pills-wishcart"
            aria-selected="false">
            <i class="fas fa-heart clr-w foot-icon"></i>
            <p class="clr-w mb-0 ico-p">Wishcart</p>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button routerLink="/Ecommerce/explore-deals" class="nav-link icon-btns" id="pills-explore-tab"
            data-bs-toggle="pill" data-bs-target="#pills-explore" type="button" role="tab" aria-controls="pills-explore"
            aria-selected="false">
            <i class="fas fa-box clr-w foot-icon"></i>
            <p class="clr-w mb-0 ico-p">Explore</p>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button (click)="func()" class="nav-link icon-btns" id="pills-cart-tab" data-bs-toggle="pill"
            data-bs-target="#pills-cart" type="button" role="tab" aria-controls="pills-cart" aria-selected="false">
            <i class="fas fa-shopping-cart clr-w foot-icon"></i>
            <p class="clr-w mb-0 ico-p">Cart</p>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button href="#offcanvasExample" class="nav-link icon-btns" id="pills-profile-tab" data-bs-toggle="offcanvas"
            aria-controls="offcanvasExample" type="button" role="tab" aria-controls="pills-profile"
            aria-selected="false">
            <i class="fas fa-user  font-profile clr-w foot-icon"></i>
            <p class="clr-w mb-0 ico-p">Profile</p>
          </button>
        </li>
      </ul>
      <!-- <div class="col">
        <a class="bl-line" routerLink="/">
          <i class="fas fa-home clr-w foot-icon"></i>
          <p class="clr-w mb-0">Home</p>
        </a>
      </div>

      <div class="col">
        <a class="bl-line" (click)="func1()">
          <i class="fas fa-heart clr-w foot-icon"></i>
          <p class="clr-w mb-0">Wishcart</p>
        </a>
      </div>

      <div class="col">
        <a class="bl-line" routerLink="/Ecommerce/explore-deals">
          <i class="fas fa-box clr-w foot-icon"></i>
          <p class="clr-w mb-0">Products</p>
        </a>
      </div>

      <div class="col">
        <a class="bl-line" (click)="func()">
          <i class="fas fa-shopping-cart clr-w foot-icon"></i>
          <p class="clr-w mb-0">cart</p>
        </a>
      </div>

      <div class="col" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
        aria-controls="offcanvasExample">
        <i class="fas fa-user  font-profile clr-w foot-icon"></i>
        <p class="prf clr-w mb-0">Profile</p>
      </div> -->

    </div>
  </div>
</section>

<div class="offcanvas offcanvas-start d-flex" style="width: 70%; " tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header pr-head">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
    <img class="x-image btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" src="assets/images/x.png"
      alt="">
  </div>
  <div class="offcanvas-body pr-body">
    <div class="row">
      <div class="pri-div">
        <img class="pr-img" src="assets/images/user3.jpg" alt="">
        <p class="pa">{{profileResponse.name}}</p>
        <p class="pb">{{profileResponse.email}}</p>
        <!-- <p class="p-style">{{profileResponse.mobile}}</p> -->
      </div>
      <hr class="pr-hr">
      <nav class="featured-category">
        <ul class="nav-row ul-s">
          <li class="nav-row-list li-a"> <i class="fas fa-home foot-icon"></i> <a routerLink="/" class="nav-row-list-link li-s">Home</a></li>
          <hr class="li-hr">
          <li class="nav-row-list li-a"> <i class="fas fa-shopping-cart foot-icon"></i> <a routerLink="myorder" class="nav-row-list-link li-s">My Orders</a></li>
          <hr class="li-hr">
          <li class="nav-row-list li-a"> <i class="fas fa-box foot-icon"></i> <a routerLink="Ecommerce/explore-deals" class="nav-row-list-link li-s">Explore
              Deals</a></li>
          <hr class="li-hr">
          <li class="nav-row-list li-a"> <i class="fas fa-users foot-icon"></i> <a routerLink="viewprofile"
              class="nav-row-list-link li-s">View Profile</a></li>
          <hr class="li-hr">
        </ul>
      </nav>
      <div class="login-btn">
        <button class="lg-btn" routerLink="/login">login</button>
      </div>
      <div class="row gplay-row">
        <div class="col-md-6 col-6">
          <a href="https://play.google.com/store/apps/details?id=com.goldsikka.goldsikka">
            <img class="pr-image" src="assets/images/pr-a.jpg" alt="">
          </a>
        </div>
        <div class="col-md-6 col-6">
          <a href="https://apps.apple.com/in/app/goldsikka/id1549497564">
            <img class="pr-image" src="assets/images/pr-b.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
